{% extends 'base.html.twig' %}

{% block title %}Le coin des barons Lyon{% endblock %}

{% block body %}
    <div class="valid-card">
        <h1>Vous avez été pré-inscrit avec succès</h1>

        
    </div>

{% endblock %}