<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Le coin des barons Lyon!{% endblock %}</title>
        <link rel="icon" href="{{ asset('media/img/logo2.ico') }}" type="image/x-icon">
        <link rel="shortcut icon" href="{{ asset('media/img/logo2.ico') }}" type="image/x-icon">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'Includes/navbar.html.twig' %}
        {% block body %}

        {% endblock %}
    </body>
</html>
