.admin-card{
  background-color: white;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  border: solid 3px #b58641;

  h1{
    margin: 1rem 0
  }

  hr{
    width: 90%;
    margin: 1rem auto 2rem auto;
    opacity: 1;
  }

}